@font-face {
  font-family: 'FontWithASyntaxHighlighter';
  src:
    url('../fonts/FontWithASyntaxHighlighter-Regular.woff2') format('woff2');
}

.echo {
  display: block;
  overflow: auto;
  font-family: "FontWithASyntaxHighlighter", monospace;
  font-feature-settings: "colr", "calt";
  white-space: pre;
  color: #eee;
  font-size: 0.9rem;
  background-color: #282828;
  border-radius: 1ch;
  padding: 1ch;
}

.echo[contenteditable]:hover {
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}
