@import url('../fonts/Libertinus/documentation/libertinus.css');


body {
  font-family: 'Libertinus Serif', 'Times New Roman', sans-serif;
  font-feature-settings: 'liga', 'tnum', 'calt', 'zero';

  max-width: 110ch;
  margin: 0 auto;
  padding: 16px;
}

kbd {
  font-family: 'Libertinus Keyboard', monospace;
}

aside, footer, small, h1, h2, h3, h4, h5, h6, figcaption {
  font-family: 'Libertinus Sans', sans-serif;
}

abbr {
  font-variant: small-caps;
}

blockquote {
  border-left: 4px solid #ccc;
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: #f9f9f9;
}

figure {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
}


pre {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 2ch;
  margin-bottom: 0.5ch;
}

h1 > a[href^="#"], h2 > a[href^="#"], h3 > a[href^="#"], h4 > a[href^="#"], h5 > a[href^="#"], h6 > a[href^="#"] {
  transition: opacity 0.2s;
  opacity: 0.5;
  text-decoration: none;
  margin-right: 4px;
}

h1 > a[href^="#"]:hover, h2 > a[href^="#"]:hover, h3 > a[href^="#"]:hover, h4 > a[href^="#"]:hover, h5 > a[href^="#"]:hover, h6 > a[href^="#"]:hover {
  opacity: 1;
  text-decoration: none;
}

h1 > a[href^="#"]::before, h2 > a[href^="#"]::before, h3 > a[href^="#"]::before, h4 > a[href^="#"]::before, h5 > a[href^="#"]::before, h6 > a[href^="#"]::before {
  content: "§";
}

a:hover {
  text-underline-offset: 2px;
}

a:active {
  background-color: yellow;
  text-underline-offset: 3px;
}

a:target {
  background-color: yellow;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

p {
  padding-top: 0.25ch;
  padding-bottom: 0.25ch;
}

/* if p is followed by an script.echo or style.echo, add a little space above the script */
p + script.echo, p + style.echo {
  margin-top: 0.5ch;
}

/* if an div.observablehq is followed by an script.echo, add a little space above the script */
div.observablehq + script.echo {
  margin-top: 0.5ch;
}

.subtitle {
  font-style: italic;
}

code {
  border: 1px solid #ddd;
  padding: 0 3px 1px;
  border-radius: 4px;
}

script, pre, style {
  margin-bottom: 1ch;
}


.abstract {
  margin: 1em 0 2em;
  padding: 1em;
  border: 1px solid #aaa;
  border-radius: 4px
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
