@import url('https://unpkg.com/@observablehq/inspector@5.0.1/src/style.css');

.observablehq {
  margin-top: 1rem;
}

@keyframes blink {
  67% {
    opacity: 0;
  }
}
.observablehq--running::before {
  content: 'LOADING';
  animation: blink 1s step-end infinite;
}